<!-- BEGIN MENUBAR-->
			<div id="menubar" class="menubar-inverse ">
				<div class="menubar-fixed-panel">
					<div>
						<a class="btn btn-icon-toggle btn-default menubar-toggle" data-toggle="menubar" href="javascript:void(0);">
							<i class="fa fa-bars"></i>
						</a>
					</div>
					<div class="expanded">
						<a href="/ava">
							<span class="text-lg text-bold text-primary">
								<img src="assets/img/cefit_logo_branco.png">
							</span>
						</a>
					</div>
				</div>
				<div class="menubar-scroll-panel">

					<!-- BEGIN MAIN MENU -->
					<ul id="main-menu" class="gui-controls">

					
						<li class="gui-folder" routerLinkActive="active expanded">
							<a>
								<div class="gui-icon"><i class="md md-business"></i></div>
								<span class="title">Empregador</span>
							</a>
							<ul>
								<li routerLinkActive="active expanded"><a [routerLink]="['/empregador-pesquisar']" routerLinkActive="active"><span class="title">Pesquisar</span></a></li>
								<li routerLinkActive="active expanded"><a [routerLink]="['/empregador-atualizar']" routerLinkActive="active"><span class="title">Cadastrar</span></a></li>
							</ul>
						</li>

						<li class="gui-folder" routerLinkActive="active expanded">
							<a>
								<div class="gui-icon"><i class="md md-group"></i></div>
								<span class="title">Profissional</span>
							</a>
							<ul>
								<li routerLinkActive="active expanded"><a [routerLink]="['/profissional-pesquisar']" routerLinkActive="active"><span class="title">Pesquisar</span></a></li>
								<li routerLinkActive="active expanded"><a [routerLink]="['/profissional-atualizar']" routerLinkActive="active"><span class="title">Cadastrar</span></a></li>
							</ul>
						</li>

						<li class="gui-folder" routerLinkActive="active expanded">
							<a>
								<div class="gui-icon"><i class="fa fa-briefcase"></i></div>
								<span class="title">Trabalhador</span>
							</a>
							<ul>
								<li routerLinkActive="active expanded"><a [routerLink]="['/trabalhador-pesquisar']" routerLinkActive="active"><span class="title">Pesquisar</span></a></li>
								<li routerLinkActive="active expanded"><a [routerLink]="['/trabalhador-atualizar']" routerLinkActive="active"><span class="title">Cadastrar</span></a></li>
							</ul>
						</li>

						<li class="gui-folder" routerLinkActive="active expanded">
							<a>
								<div class="gui-icon"><i class="fa fa-bank"></i></div>
								<span class="title">Espaço</span>
							</a>
							<ul>
								<li routerLinkActive="active expanded"><a [routerLink]="['/espaco-pesquisar']" routerLinkActive="active"><span class="title">Pesquisar</span></a></li>
								<li routerLinkActive="active expanded"><a [routerLink]="['/espaco-atualizar']" routerLinkActive="active"><span class="title">Cadastrar</span></a></li>
								<li routerLinkActive="active expanded"><a [routerLink]="['/espaco-manutencao']" routerLinkActive="active"><span class="title">Manutenção</span></a></li>
							</ul>
						</li>

						<li class="gui-folder" routerLinkActive="active expanded">
							<a>
								<div class="gui-icon"><i class="fa fa-exchange"></i></div>
								<span class="title">Ações</span>
							</a>
							<ul>
								<li routerLinkActive="active expanded"><a [routerLink]="['/acao-pesquisar']" routerLinkActive="active"><span class="title">Pesquisar</span></a></li>
								<li routerLinkActive="active expanded"><a [routerLink]="['/acao-atualizar']" routerLinkActive="active"><span class="title">Cadastrar</span></a></li>
							</ul>
						</li>

						<li class="gui-folder" routerLinkActive="active expanded">
							<a>
								<div class="gui-icon"><i class="fa fa-cogs"></i></div>
								<span class="title">Configurações</span>
							</a>
							<ul>
								<li routerLinkActive="active expanded"><a [routerLink]="['/cargo-pesquisar']" routerLinkActive="active"><span class="title">Cargo</span></a></li>
								<li routerLinkActive="active expanded"><a [routerLink]="['/local-pesquisar']" routerLinkActive="active"><span class="title">Local</span></a></li>
								<li routerLinkActive="active expanded"><a [routerLink]="['/qualificacao-pesquisar']" routerLinkActive="active"><span class="title">Qualificação</span></a></li>
								<li routerLinkActive="active expanded"><a [routerLink]="['/item-espaco-pesquisar']" routerLinkActive="active"><span class="title">Itens de Espaço</span></a></li>
								<li routerLinkActive="active expanded"><a [routerLink]="['/tipo-acao-pesquisar']" routerLinkActive="active"><span class="title">Tipos de Ação</span></a></li>
								<li routerLinkActive="active expanded"><a [routerLink]="['/layout-pesquisar']" routerLinkActive="active"><span class="title">Layout do Sistema</span></a></li>
							</ul>
						</li>


					</ul><!--end .main-menu -->
					<!-- END MAIN MENU -->

					<div class="menubar-foot-panel">
						<small class="no-linebreak hidden-folded">
							<span class="opacity-75">Copyright &copy; 2019</span> <strong> Aptare Tecnologia</strong>
						</small>
					</div>
				</div><!--end .menubar-scroll-panel-->
			</div><!--end #menubar-->
			<!-- END MENUBAR -->
